
<div class="row">
    <div class="col mt-2">
        <h2 class="text-center">Elenco materiale aziendale</h2>

        <form novalidate>
            <table class="table table-bordered table-striped p-2">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descrizione</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of rows; let i=index">
                    <td>
                        {{row.id}}
                    </td>
                    <td>
                        {{row.descrizione}}
                    </td>
                </tr>
            </tbody>
            </table>
        </form>
    </div>
</div>